.header {
	background: #f1f4f5;
	overflow: hidden;
	padding-bottom: 32rpx;
}

.header-rate {
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	padding: 32rpx;
	margin: 20rpx 32rpx 28rpx;
	// height: 100px;
	background: #f9f9fa;
	border-radius: 24rpx;
	color: #A3A3A3;
		
	&-title {
		font-size: 24rpx;
	}
	
	&-left {
		display: flex;
		display: -webkit-flex;
		flex-direction: column;
		width: 26vw;
	}
	
	&-right {
		width: 74vw;
	}
	
	&-line {
		display: flex;
		display: -webkit-flex;
		justify-content: flex-end;
		height: 32rpx;
	}
}

.rate-line {
	display: flex;
	display: -webkit-flex;
	align-items: center;
	justify-content: flex-end;
	width: 38%;
	margin-right: 10rpx;
}

.progress-line {
	width: 56%;
}

.header-rate-view {
	margin-top: 4rpx;
}

.header-rate-num {
	margin-top: 16rpx;
	font-size: 56rpx;
	font-weight: bolder;
	color: #44BB56;
}

.header-main {
	display: flex;
	justify-content: space-between;
	padding: 20rpx 32rpx;
}

.header-left-img {
	display: flex;
	align-items: center;
}

.header-left-img image {
	width: 26vw;
	height: 38.8vw;
	border-radius: 24rpx;
}

.header-right {
	padding: 6rpx 0 0 24rpx;
}

.sub-title {
	font-size: 36rpx;
	font-weight: bolder;
}
	
.sub-title-original {
	display: block;
	font-size: 26rpx;
	font-weight: bolder;
}

.sub-info {
	// display: block;
	margin-top: 22rpx;
	font-size: 24rpx;
	color: #A3A3A3;
	line-height: 22px;
}

.sub-footer {
	display: flex;
	align-items: flex-end;
}

.sub-love-btn {
	display: flex;
	align-items: center;
	margin: 24rpx 0 0 12rpx;
	padding: 0 24rpx;
	height: 58rpx;
	line-height: 58rpx;
	background: #44BB56;
	font-size: 24rpx;
	color: #FFF;
	border-radius: 29rpx;
	
	image {
		width: 30rpx;
		height: 30rpx;
		margin-right: 10rpx;
	}
}

.sub-seen-btn {
	display: flex;
	align-items: center;
	margin-left: 26rpx;
	padding: 0 24rpx;
	height: 58rpx;
	line-height: 58rpx;
	background: #eafbed;
	font-size: 24rpx;
	color: #44BB56;
	border-radius: 29rpx;
	
	image {
		width: 30rpx;
		height: 30rpx;
		margin-right: 10rpx;
	}
}

.sub-play-btn {
	display: flex;
	align-items: center;
	margin-left: 26rpx;
	width: 58rpx;
	height: 58rpx;
	line-height: 58rpx;
	background: #ffd9c8;
	font-size: 28rpx;
	color: #44BB56;
	border-radius: 29rpx;
	
	image {
		width: 30rpx;
		height: 30rpx;
		margin-left: 18rpx;
	}
}

.content {
	border-top-left-radius: 42rpx;
	border-top-right-radius: 42rpx;
	margin-top: -28rpx;
	// height: 840rpx;
	background: #FFF;
}

.cl-tabs__bar-li {
	font-weight: bolder;
}

.cl-tabs__bar-li.active {
    color: #44bc56 !important;
}

.summary {
	padding: 0 32rpx;
	font-size: 28rpx;
	line-height: 1.8;
}

.classify {
	padding: 36rpx 32rpx 0rpx;
	font-size: 24rpx;
	color: #B1B1B1;
}

.tags {
	padding: 0 32rpx;
}

.tags-scroll {
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
	padding: 16rpx 0;
}

.tags-box {
	display: inline-block;
	margin: 0 12rpx;
	padding: 0 22rpx;
	height: 44rpx;
	font-size: 20rpx;
	background: #f5f5f5;
	border-radius: 22rpx;
	text-align: center;
	line-height: 44rpx;
	
	&:first-child {
		margin-left: 0;
	}
}

.content-title {
	padding: 38rpx 32rpx 20rpx;
	font-size: 32rpx;
	font-weight: bolder;
}

.cast-gallery {
	display: flex;
	padding: 0 32rpx;
}

.gallery-scroll {
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
}

.gallery-item {
	display: inline-block;
}

.gallery-item image {
	width: 19.5vw;
	height: 29.1vw;
	margin: 0 32rpx;
	border-radius: 26rpx;
	
	&:first-child {
		margin-left: 0;
	}
}

.g-name {
	margin-top: 6rpx;
	font-size: 26rpx;
	font-weight: bolder;
}

.g-info {
	margin-top: 6rpx;
	font-size: 24rpx;
	color: #B1B1B1;
}

.review {
	padding-bottom: 32rpx;
}

.review-item {
	padding: 20rpx 32rpx 32rpx;
	
	&:first-child {
		padding-top: 0;
	}
}

.review-header {
	display: flex;
	font-size: 22rpx;
	font-weight: bolder;
}

.review-header image {
	width: 48rpx;
	height: 48rpx;
	border-radius: 24rpx;
}

.review-author {
	height: 32rpx;
	line-height: 32rpx;
}

.review-info {
	margin-top: -2rpx;
	margin-left: 12rpx;
	height: 48rpx;
}

.review-title {
	margin: 20rpx 0;
	font-size: 26rpx;
	font-weight: bolder;
}

.review-summary {
	margin: 20rpx 0;
	font-size: 26rpx;
	line-height: 1.5;
}

.review-footer view image {
	width: 28rpx;
	height: 28rpx;
}

.review-footer view:nth-child(1) image {
	margin-bottom: 4rpx;
}

.review-footer view:nth-child(2) image {
	margin-top: 6rpx;
}

.review-footer text {
	margin-left: 8rpx;
	font-size: 24rpx;
	color: #B1B1B1;
}
	
.review-at {
	position: absolute;
	right: 16px;
}

.review-footer {
	display: flex;
}

.review-footer view {
	display: flex;
	align-items: center;
	margin: 0 20rpx;
	
	&:first-child {
		margin-left: 0;
	}
}