.cl-rate {
		display: flex;
		align-items: center;

		&__icon {
			display: flex;
			align-items: center;
			position: relative;
			margin-right: 10rpx;
			// width: 12px !important;
			
			cl-icon {
				display: flex;
				align-items: center;
			}
		}

		&__icon-active {
			display: flex;
			align-items: center;
			position: absolute;
			top: 0;
			left: 0;
			overflow: hidden;
			
			cl-icon {
				display: flex;
				align-items: center;
			}
		}

		&__text {
			font-size: 26rpx;
			margin-left: 10rpx;
			color: #44BB56;
			font-weight: bolder;
		}
	}